.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    overflow-y: hidden;
}

.profile-settings-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 500px;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.profile-picture-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profile-pic-name_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/**************************************CENTER THE PROFILE IMAGE**********************************************/
.profile_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*******************************************PROFILE IMAGE*****************************************************************/
#profileImage {
    margin-top: 10px;
    border: 3px solid rgba(30, 116, 173, 0.979);
    display: flex;
    justify-content: center;
}

/**************************************NAME AND PASSWORD FORM**********************************************/

.edit-profile_form {
    margin-top: 2px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h4 {
    text-align: center;
}

#imageInput {
    display: none;
}
