.profile-picture-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.profile-settings-box {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 700px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
