@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}
.dashboard-container {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
}
.side-navbar {
    position: fixed;
    height: 100vh;
    width: 230px;
    background: #11101d;
    overflow: hidden;
    transition: all 0.5s ease;
    padding: 6px 12px;
}
.side-navbar ul {
    top: 0;
    left: 0;
    width: 100%;
}
.side-navbar ul li {
    width: 100%;
}
.side-navbar ul li:hover {
    background: none;
}
/* .side-navbar ul li:first-child {
    margin-bottom: 1rem;
    background: none;
} */
.side-navbar ul li a {
    display: flex;
    width: 100%;
    color: #fff;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #11101d;
    font-family: "Poppins", sans-serif;
}
.side-navbar ul li a .icon {
    color: #fff;
    height: 60px;
    min-width: 30px;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    margin-right: 10px;
    margin-left: 10px;
}

.side-navbar ul li a .text {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    pointer-events: none;
    transition: 0.4s;
}

h2 {
    color: white;
    font-size: 18px;
}

.side-navbar .nav-list {
    margin-top: -8px;
    height: 100%;
    width: 100%;
    align-self: start;
}
.side-navbar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    transition: all 0.4s ease;
    background: #11101d;
    border-left: 3px solid transparent;
}
.side-navbar li a.side-link:hover {
    background: #ffd14f;
}

.side-navbar .side-link.active {
    border-left: 3px solid #ffd14f;
    border-bottom: 3px solid #ffd14f;
}

.side-navbar.active ul li a .text {
    color: #fff;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.tree-view-header-button.active .text {
    color: #fff;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.side-navbar.active li a .text {
    opacity: 1;
    pointer-events: auto;
}

.side-navbar .tree-view-header-button.active .text {
    color: #fff;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}
.side-navbar li a.side-link:hover .text,
.side-navbar li a.side-link:hover .icon {
    transition: all 0.5s ease;
    color: #11101d;
}

/* Profile Dropdown */
.user-dropdown {
    position: relative;
    display: inline-block;
    z-index: 10000;
}
.user-dropdown .dropdown-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.user-dropdown.show .dropdown-menu {
    display: block;
}
.user-dropdown a:hover {
    background: whitesmoke;
    border-radius: 5px;
}
.user-dropdown a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px;
}
.user-dropdown .caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px solid #ffd14f;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.profile img {
    width: 44px;
    height: 44px;
    margin-top: 7px;
    object-fit: contain;
    object-position: center;
    border-radius: 50%;
    cursor: pointer;
}

#menu-icon {
    font-size: 34px;
    cursor: pointer;
    color: white;
}
.content.active {
    width: calc(100% - 80px);
    left: 80px;
}
.side-navbar.active {
    width: 80px;
}
.side-navbar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: #fff;
    padding: 5px;
    border-top: none;
    z-index: 1;
}

.tree-view-menu.collapsed {
    display: none;
}

.tree-view-button {
    display: block;
    width: 80px;
    padding: 1px;
    text-decoration: none;
    color: #000;
    background: #ffd14f;
    border-radius: 1px;
    margin-bottom: 1px;
}

.tree-view-button:hover {
    background: #ffd14f;
}

.tree-view-button .icon {
    margin-right: 2px;
}

.tree-view-button .text {
    font-weight: bold;
}

/* .tree-view-header-text {
    font-weight: bold;
    color: #fff;
    margin-left: 5px;
} */

.tree-view-header-button {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #11101d;
    margin-bottom: 5px;
    /* border-left: 3px solid #ffd14f;
    border-bottom: 3px solid #ffd14f; */
}

.tree-view-header-button:hover {
    background: #ffd14f;
}

.tree-view-header-button .icon {
    margin-right: 5px;
    color: #ffffff;
}

.tree-view-header-button:hover {
    background: #ffd14f;
}

.tree-view-header-button .icon {
    margin-right: 10px;
    color: #ffffff;
}

.tree-view-header-button:focus,
.tree-view-header-button.active,
.tree-view-header-button.active:hover {
    border: none; /* Remove the border when the button is active */
}

.tree-view-menu {
    width: 100%;
    padding: 5px;
}

.tree-view-menu li {
    margin-bottom: 2px;
}

.hide-text {
    display: none;
}

@media (max-width: 768px) {
    .content {
        width: 100%;
        left: 0;
    }
    .side-navbar {
        width: 80px;
        left: -80px;
    }
    .content.active {
        width: calc(100% - 80px);
        left: 80px;
    }
    .side-navbar.active {
        left: 0;
    }
}
@media (max-width: 768px) {
    .home-section {
        width: 100%;
        left: 80;
    }
    .side-navbar {
        width: 80px;
        left: -80px;
    }
    .home-section.active {
        width: calc(100% - 80px);
        left: 80px;
    }
    .side-navbar.active {
        left: 80;
    }
    .side-navbar ~ .home-section {
        left: 80px;
        width: calc(100% - 80px);
    }
    .side-navbar ~ .home-section.active {
        left: 80px;
        width: calc(100% - 80px);
    }
}

.home-section {
    position: relative;
    background: #f6f6f6;
    max-height: 100vh;
    top: 0;
    transition: all 0.5s ease;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.side-navbar.active ~ .home-section {
    left: 230px;
    width: calc(100% - 230px);
}

.content {
    position: absolute;
    width: calc(100% - 230px);
    left: 230px;
    max-height: 100vh;
    transition: 0.5s ease;
    overflow: auto;
}

.top-navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    background: #11101d;
    position: sticky;
    top: 0;
    z-index: 9999;
}
