html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.child {
    flex: 0 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.clickable-container {
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
}

.event-details {
    display: flex;
    align-items: center;
}

.event-picture {
flex: 0 0 200px;
margin-right: 10px;
width: 200px; 
height: 200px; 
object-fit: cover; 
}



.event-info {
    flex: 1;
}

.event-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.event-name {
    margin-top: 10px;
}

.event-details {
    margin-top: 5px;
}
